.products {
  border: 1px solid #fff;
  padding: 1rem;
  margin-top: 1rem;
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
  }
  &_total {
    margin-top: 1rem;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
}

.product {
  &_img {
    img {
      width: 14opx;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  &_infos {
    width: 100%;
    background-color: #6e6e6e;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &_name {
    margin-top: 2px;
    font-size: 13px;
  }
  &_price {
    font-size: 14px;
    font-weight: 700;
  }
}
