.input {
  width: 100%;
  margin-bottom: 1.2rem;
  input {
    background: white;
  }
  // margin-top: 20px;
  &_wrapper {
    position: relative;
    input {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 50px;
      padding-left: 1rem;
      padding-top: 8px;
      color: #fff;
    }
    span {
      position: absolute;
      left: 1rem;
      top: 1rem;
      font-size: 14px;
      color: rgba(102, 102, 102, 0.887);
    }
  }
}

.move {
  transition: all 0.2s;
  font-size: 12px !important;
  transform: translateY(-10px);
}

.error {
  input {
    background: rgb(243, 201, 201);
    border: 1px solid #cc674f;
  }
  p {
    color: #ed4337;
    font-size: 13px;
  }
}
