.stripe {
  border: 1px solid #eee;
  background-color: white;
  padding: 10px;
  button {
    margin-top: 1rem;
    height: 45px;
    width: 100%;
    background: #000;
    cursor: pointer;
    color: white;
    &:hover {
      background: #5d5d5d;
    }
  }
}
