.cart {
  //   padding: 1rem 0 !important;
  //   background: grey !important;
    // min-height: calc(100vh - 48px - 500px);
  &_container {
    padding: 1rem;
    display: grid;
    grid-template-areas:
      "header"
      "products"
      "checkout"
      "method";
    max-width: 1300px !important;
    margin: 0 auto;
    gap: 1rem;
    @media (min-width: 900px) {
      grid-template-areas: "header checkout" "products checkout" "products method" "product ...";
      grid-template-columns: 2fr 1fr;
    }
  }
  &_header {
    grid-area: header;
  }
  &_checout {
    grid-area: checout;
  }
  &_method {
    grid-area: method;
  }
  &_products {
    grid-area: products;
    transform: translateY(-160px);
    @media (max-width: 900px) {
      transform: translateY(0);
    }
  }
}
